# Web framework & server
fastapi==0.115.2
uvicorn[standard]==0.32.0

# Templates & file uploads
Jinja2==3.1.5
python-multipart==0.0.17

# Image processing
pillow==11.3.1 
pillow-heif==0.20.0 
pillow-avif-plugin==1.5.2 
python-multipart==0.0.17